:root {
  margin: 0px;
  padding: 0px;
  min-width: 1100px;
  /*font-family: 'Julius Sans One', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
}

body {
	margin: 0px;
	padding: 0px;
}

.logo_row {
    height: 125px;
	background-color: #000000;
	margin: 0px;
}

.logo {
	width: 30%
}

img.logo {
	margin: 0px 0px 0px 50px;
	padding: 0px;
	height: 100%;
	width: auto;
	float: left;
}

.top_menu {
	list-style: none;
	float: right;
	height: 70px;
	margin: 25px 0px;
	width: 45%;
}

.top_menu li {
	color: rgb(255, 204, 0);
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	display: inline-block;
	margin: 5px 10px;
	border: 0.5px solid rgb(255, 204, 0);
	padding: 5px 25px;
}

.top_menu li:hover {
	color: black;
	background-color: rgb(255, 204, 0);
}

.menu_row {
	list-style: none;
	height: 70px;
	margin: 0px;
	padding: 5px;
	text-align: center;
	background-color: #323232;
}

.menu_row a {
	text-decoration: none;
	color: rgb(255, 204, 0);
}

.menu_row li {
	color: rgb(255, 204, 0);
	font-family: 'Julius Sans One', serif;
	font-size: 1.1em;
	display: inline-block;
	margin: 5px 10px;
	padding: 5px 25px;
	letter-spacing: 2px;
	transition: all .3s ease-in-out;
}

.menu_row li:hover {
	transform: scale(1.2);
	
}

#selection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("https://car-images.bauersecure.com/pagefiles/73857/1040x585/rr_dawn_blackbadge_08.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
}

.selectionheader {
	margin-left: 50px;
	color: rgb(255, 204, 0);
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.selectionform {
	margin-top: -10px;
	padding: 1px 20px 20px 20px;
    position: relative;
	top: 40px;
	left: 30px;
    width: 40%;
	background-color: rgba(255, 255, 255, 0.3);
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	border-radius: 20px;
	float: left;
}

.stepnumber {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: rgb(255, 204, 0);
    border: 2px solid rgb(255, 204, 0);
	border-radius: 50%;
	width: 25px;
	height: auto;
	text-align: center;
	float: left;
}

fieldset {
	margin-left: 50px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 0.5px solid rgb(255, 204, 0);
}

.step1 a {
	margin: 0px 0px 0px 50px;
	color: rgb(255, 204, 0);
}

.step1 form {
	margin: 10px 0px 20px 50px;
}

[name="locations"] {
	background: transparent;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	border-style: groove;
}

[name="pickup"], [name="return"] {
	background: transparent;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	border-style: groove;
}

h6 {
	margin-left: 50px;
	font-weight: 300;
	font-style: italic;
}

[name="age"] {
	background: transparent;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	border-style: groove;
}

[name="type"] {
	background: transparent;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	border-style: groove;
}

.choicesubmit form {
	text-align: justify;
}

[type="submit"] {
	background-color: rgb(255, 204, 0);
	color: black;
	padding: 15px;
	margin: 10px 20px 0px 10px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
}

[type="submit"]:hover {
	background-color: black;
	color: rgb(255, 204, 0);
}

.sidemenu {
	position: relative;
	background: transparent;
	top: 75px;
	right: 0px;
	height: 33%;
	width: 20%;
	display: grid;
	float: right;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	padding: 0px;
}

.side {
	color: rgb(255, 204, 0);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	text-align: center;
	max-height: 40px;
	margin: 0px;
	padding: 0px;
	transition: all .3s ease-in-out;
}

.side:hover{
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
}

img.sidelogo {
	height: 30px;
	width: 30px;	
	float: left;
	margin: 0px 15px;
}

.side p{
	margin: 4% 0px;
}

.newsletter {
	grid-area: 1 / 4 / 2 / 5;
}

.newsletter:hover {
	grid-area: 1 / 2 / 2 / 5;
}

.socialmedia {
	grid-area: 2 / 4 / 3 / 5;
}

.socialmedia:hover {
	grid-area: 2 / 2 / 3 / 5;
}

.corporate {
	grid-area: 3 / 4 / 4 / 5;
}

.corporate:hover {
	grid-area: 3 / 2 / 4 / 5;
}

.press {
	grid-area: 4 / 4 / 5 / 5;
}

.press:hover {
	grid-area: 4 / 2 / 5 / 5;
}